



*{
    border-radius: 30px;
    margin: 0px;
    padding: 0px;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-family: var(--font-family-default-latin);
}
.cu{
    background-color: white;
    position: fixed;
    width: 2000px;
    height: 100px;
    top: 0;
    border-radius: 0px;
}
.posision{
    position: fixed;
    top: 0;
    z-index: 2cm;
    
}
.alt{
    border-radius: 50%;
    border-color: transparent;
    cursor: pointer;
    align-items: center;
}
.img1{
    width: 30px;
    left: 40px;
    margin: 20px;
    align-items: center;
    cursor: pointer;
    
}
.img2{
    width: 60px;
    left: 50px;
    align-items: center;
    cursor: pointer;
}
.img3{
    width: 45px;
    left: 40px;
    align-items: center;
    cursor: pointer;
}
.mov{
    border-radius: 20px;
    border-color: 232323;
    position: absolute;
    left: 450%;
    top: 28px;
    background-image: url(./Search.png);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: 0.1pc;
    text-align: center;
    font-size: 150%;
    cursor: pointer;
}
.inicio{
    border-radius: 30px;
    background-color: black;
    color: white;
    position: absolute;
    left: 85%;
    top: 15px;
    font-size: 20px;
    align-items: center;
    cursor: pointer;
    padding: 19px 15px;
}
.hoy{
    border-color: transparent;
    border-radius: 30px;
    position: absolute;
    left: 220%;
    top: 30px;
    font-size: 25px;
    align-items: center;
    cursor: pointer;
}
.crear{
    border-color: transparent;
    border-radius: 30px;
    position: absolute;
    left: 320%;
    top: 30px;
    font-size: 25px;
    align-items: center;
    cursor: pointer;
}
.campana{

    position: absolute;
    left: 1800%;
    top: 20px;
    align-items: center;
    cursor: pointer;
    
}
.chating{
    position: absolute;
    left: 1890%;
    top: 25px;
    align-items: center;
    cursor: pointer;
}
.perfil{
    position: absolute;
    left: 2000%;
    top: 20px;
    align-items: center;
    cursor: pointer;
    font-size: 40px;
}
.flecha{
    position: absolute;
    left: 2010%;
    top: 0.04em;
    align-items: center;
    cursor: pointer;
    margin: 20px;
    
}
/* estrucura*/
.img_pr{
    margin-top: 80px;
    padding: 20px;
    grid-gap: 20px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    
    
}

.img_pr:first-child{
    position:relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.imgcard{
    position: relative;
}

.imgcard:nth-child(){
    grid-row-start: span 2;
}
/*capas hover*/
.capa{
    position: absolute;
    bottom: 6%;
    left: 45%;
    height: 34px;
    width: 34px;
    background-color: rgb(129, 113, 113);
    opacity: 0;
}
.capa_2{
    position: absolute;
    bottom: 85%;
    left: 40%;
    border-radius: 30px;
    background-color: rgb(255, 0, 0);
    color: white;
    height: 40px;
    width: 70px;
    font-size: 20px;
    align-items: center;
    cursor: pointer;
    padding: 10px 15px;
    opacity: 0;
}

.capa_3{
    position: absolute;
    bottom: 6%;
    left: 65%;
    background-color:rgb(129, 113, 113);
    height: 34px;
    width: 34px;
    opacity:0;
}

/* hovers*/

.img_pr:hover .capa{
    opacity: 1;
}
.img_pr:hover .capa_2{
    opacity: 0.7;
}
.img_pr:hover .capa_3{
    opacity: 1;
}

